.chat
  .header
    .left-header
      .left-header__title
        = @group.name
      %ul.left-header__members
        Member：
        %li.member
          - @group.users.each do |user|
            = user.name
        
    .right-header
      .right-header__button
        = link_to edit_group_path(@group) do
          Edit  
       
  .messages
    = render @messages
  
  .form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form__mask
        = f.text_field :content, class: 'form__mask__input', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'send', class: 'submit'
  